
.box {
    display: inline-block;
    margin: 30px auto 20px auto;
    box-shadow: 0 5px 10px 2px rgba(211, 54, 14, 0.25);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
    color: rgb(237, 95, 67);
   
}

.calendar {
    margin: 30px auto 20px auto;
    box-shadow: 0 5px 10px 2px rgba(208, 31, 31, 0.25);
    
}
.h4{
    color: rgb(244, 53, 53);
}
