.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(154, 8, 8);
    /* background-color: aquamarine; */
    margin-top: 550px;
    /* background-color: aqua; */
    margin-left: 325px;

  }
  .hed{
    justify-content: center;
    align-items: center;
    margin-left: 320px;
  }
  .dabba{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: rgb(207, 191, 187); */
  }

  
  .dabba button {
    margin: 10px 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #fecfc5;
    color: rgb(36, 34, 34);
    border: none;
    cursor: pointer;
   
  }
  
  .dabba button:hover {
    background-color: #e7bcac;
  }

  .photocard-container {
     /* overflow-x: auto; */
      /* Enable horizontal scrolling */
    /* white-space: nowrap; Prevent line breaks  */
    /* display: flex;
     margin-top: -15px;*/
     /* background-color: rgb(240, 186, 171);  */
    
    margin-bottom: 30px;
    padding-top: -10px; 
    padding-bottom: 30px; 
    margin-top: -10px;
    gap: 20px;
    flex: 1;
    display: flex;
    /* align-items: center; */
    font-weight: 600;
  
    /* margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
  }
  
  .photocard {
    background-color: rgb(240, 186, 171); 
    /* flex: 1;
    display: flex;
    align-items: center;
    font-weight: 600; */
    border-radius: 20px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px 2px rgba(208, 31, 31, 0.25);
    padding: 14px;
    /* font-size: 18px; */
  }
  
  .video-container {
    display: flex;
    /* flex-wrap: wrap; */
  }
  
  .video-item {
    width: calc(50% - 10px); /* Adjust width as needed */
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .video-thumbnail {
    width: 100%;
    height: auto;
  }
.content{
  height: 900px;
  width: 900px;
  /* background-color: rgb(205, 205, 228); */
  margin-top: -80px;
}